@model IEnumerable<Empleado>

@{
    ViewData["Title"] = "SeleccionMultiple";
    List<Departamento> departamentos = ViewData["DEPARTAMENTOS"] as List<Departamento>;
}

<h1>Seleccion Múltiple</h1>

<form method="post">
   
    <div class="card p-3">
        @foreach (var dept in departamentos)
        {
        <div class="form-check">
            <input class="form-check-input" name="iddepartamentos" type="checkbox" value="@dept.IdDepartamento" />
            <label>@dept.Nombre</label>
        </div>
           
        }
    </div>
    <br />
    <button class="btn btn-success">Mostrar Empleados</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oficio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDepartamento)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oficio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDepartamento)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

